
<ion-view title="Feed" hide-back-button="true">

  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-ios-compose-outline" ng-click="addMessage()"></button>
  </ion-nav-buttons>

  <ion-content has-header="true" padding="true">

    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>

    <div ng-repeat="user in home_timeline" class="list card">

      <div class="item item-avatar">
        <img ng-src="{{user.profile_image_url}}"/>
        <h2>{{user.name}}</h2>
        <h4>@{{user.screen_name}}</h4>
        <p>{{user.created_at | date:'MMM d, y h:mma'}}</p>
      </div>

      <div class="item item-body">
        <!--<p ng-if="item.story">{{item.story}}</p>-->
        <!--<img ng-if="item.picture" ng-src="{{ item.picture }}"/>-->
        <img ng-src="{{user.picture}}"/>
        <p>{{user.message}}</p>
        <p>
          <a href="#" class="subdued">1 Like</a>
          <a href="#" class="subdued">5 Comments</a>
        </p>

      </div>
    </div>

    <!--<<div class="list card">-->

    <!--<div class="item item-avatar">-->
      <!--<img src="mcfly.jpg">-->
      <!--<h2>Marty McFly</h2>-->
      <!--<p>November 05, 1955</p>-->
    <!--</div>-->

    <!--<div class="item item-body">-->
      <!--<img class="full-image" src="delorean.jpg">-->
      <!--<p>-->
        <!--This is a "Facebook" styled Card. The header is created from a Thumbnail List item,-->
        <!--the content is from a card-body consisting of an image and paragraph text. The footer-->
        <!--consists of tabs, icons aligned left, within the card-footer.-->
      <!--</p>-->
      <!--<p>-->
        <!--<a href="#" class="subdued">1 Like</a>-->
        <!--<a href="#" class="subdued">5 Comments</a>-->
      <!--</p>-->
    <!--</div>-->

  </div>


  </ion-content>

</ion-view>

<!--<ion-view title="Feed" hide-back-button="true">-->

  <!--<ion-nav-buttons side="right">-->
    <!--<button class="button button-icon icon ion-ios-compose-outline" ng-click="addMessage()"></button>-->
  <!--</ion-nav-buttons>-->

  <!--<ion-content has-header="true" padding="true">-->

    <!--<ion-refresher-->
      <!--pulling-text="Pull to refresh..."-->
      <!--on-refresh="doRefresh()">-->
    <!--</ion-refresher>-->

    <!--<div ng-repeat="user in home_timeline" class="list card">-->
      <!--<div class="item item-avatar">-->
        <!--<img ng-src="{{user.profile_image_url}}"/>-->
        <!--<h2>{{user.name}}</h2>-->
        <!--<h4>@{{user.screen_name}}</h4>-->
        <!--<p>{{user.created_at | date:'MMM d, y h:mma'}}</p>-->
      <!--</div>-->
      <!--<div class="item item-body">-->
        <!--<p ng-if="item.story">{{item.story}}</p>-->

        <!--<p>{{user.message}}</p>-->

        <!--<img ng-if="item.picture" ng-src="{{ item.picture }}"/>-->

      <!--</div>-->
    <!--</div>-->

  <!--</ion-content>-->

<!--</ion-view>-->
