<ion-view view-title="Calendar">
  <ion-content delegate-handle="agendaScrollDelegate">

    <div class="list">
      <div class="item item-divider" ion-affix><i class="icon ion-calendar"></i> Monday</div>
      <div class="item item-thumbnail-left item-text-wrap">
        <img src="http://i.pravatar.cc/150?img=3">
        <h2>MOCK INTERVIEWS</h2>
        <h4>Monday, February 27, 2017</h4>
        <h5>12:00 AM-12:00 AM</h5>
        <p>In preparation for upcoming co-op interviews and for students searching for internships and other positions,
          the Steinbright Career Development Center will host individual Mock Interviews.</p>
      </div>
    </div>
    <div class="list">
      <div class="item item-divider" ion-affix><i class="icon ion-calendar"></i> Tuesday</div>
      <div class="item item-thumbnail-left item-text-wrap">
        <img src="http://i.pravatar.cc/150?img=4">
        <h2>ANSWERING THE TOUGH INTERVIEW QUESTIONS</h2>
        <h4>Monday, February 27, 2017</h4>
        <h5>12:00 AM-12:00 AM</h5>
        <p>In preparation for upcoming co-op interviews and for students searching for internships and other positions,
          the Steinbright Career Development Center will host individual Mock Interviews.</p>
      </div>
    </div>
    <div class="list">
      <div class="item item-divider" ion-affix><i class="icon ion-calendar"></i> Wednesday</div>
      <div class="item item-thumbnail-left item-text-wrap">
        <img src="http://i.pravatar.cc/150?img=5">
        <h2>DEVELOPING YOUR 30-SECOND COMMERCIAL</h2>
        <h4>Monday, February 27, 2017</h4>
        <h5>12:00 AM-12:00 AM</h5>
        <p>An essential part of your job search preparation is a well-developed 30-Second Commercial, also known as your Elevator Speech.</p>
      </div>
      <div class="item item-thumbnail-left item-text-wrap">
        <img src="http://i.pravatar.cc/150?img=3">
        <h2>CO-OP EMPLOYMENT SUMMARY & PLANNER OPEN FOR FALL/WINTER 2016-2017</h2>
        <h4>Monday, February 27, 2017</h4>
        <h5>12:00 AM-12:00 AM</h5>
        <p>Fall/Winter 2016-2017 co-op students, your Employment Summary & Planner (ES&P) is now available in SCDConline.
          Your ES&P is mandatory to receive credit for your co-op experience. Your ES&P is due on Friday, March 31, 2017</p>
      </div>
    </div>
    <div class="list">
      <div class="item item-divider"  ion-affix><i class="icon ion-calendar"></i> Thursday</div>
      <div class="item item-thumbnail-left item-text-wrap">
        <img src="http://i.pravatar.cc/150?img=6">
        <h2>CO-OP STUDENT PERFORMANCE EVALUATIONS OPEN FOR FALL/WINTER 2016-2017</h2>
        <h4>Monday, February 27, 2017</h4>
        <h5>12:00 AM-12:00 AM</h5>
        <p>Co-op employers, co-op student performance evaluations for Fall/Winter 2016-2017are now available in SCDConline.
          Performance feedback should be submitted by Friday, March 31, 2017.</p>
      </div>
      <div class="item item-thumbnail-left item-text-wrap">
        <img src="http://i.pravatar.cc/150?img=7">
        <h2>CO-OP EMPLOYMENT SUMMARY & PLANNER DUE FOR FALL/WINTER 2016-2017</h2>
        <h4>Monday, February 27, 2017</h4>
        <h5>12:00 AM-12:00 AM</h5>
        <p>Fall/Winter 2016-2017 co-op students, your Employment Summary & Planner (ES&P) is due Friday, March 31, 2017 in SCDConline.
          Your ES&P is mandatory to receive credit for your co-op experience.</p>
      </div>
      <div class="item item-thumbnail-left item-text-wrap">
        <img src="http://i.pravatar.cc/150?img=8">
        <h2>CO-OP STUDENT PERFORMANCE EVALUATIONS DUE FOR FALL/WINTER 2016-2017</h2>
        <h4>Monday, February 27, 2017</h4>
        <h5>12:00 AM-12:00 AM</h5>
        <p>Co-op employers, co-op student performance evaluations for Fall/Winter 2016-2017are now due in SCDConline.
          Performance feedback should be submitted by Friday, March 31, 2017</p>
      </div>
    </div>

    </div>
    </div>
  </ion-content>
</ion-view>
